#Ignore all
*

#Unignore files named Makefile and makefile
!Makefile
!makefile

#Unignore all with extensions
!*.*

#Unignore all directories
!*/

#Ignore geany script
geany_run_script.sh

#Ignore  object files
*.o

#Ignore script files
*.sh
